In [5]:
## NESTED LOOP

for i in range(1,4):
  print("Hey")

  for j in range(10,12):
    print("Hello",j)

Hey
Hello 10
Hello 11
Hey
Hello 10
Hello 11
Hey
Hello 10
Hello 11

In [7]:
for student in range(1,4):
  print("Student:",student)

  for marks in range(1,4):
    print("Marks:",marks)

Student: 1
Marks: 1
Marks: 2
Marks: 3
Student: 2
Marks: 1
Marks: 2
Marks: 3
Student: 3
Marks: 1
Marks: 2
Marks: 3

In [8]:
# write a program to calculate table of number

num = 2

for i in range(1,11):
  print(num,"*",i,"=",num*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [12]:
for num in range (2,6):
  print("Table of 2",num)

  for i in range(1,11):
    print(num*i)

Table of 2 2
2
4
6
8
10
12
14
16
18
20
Table of 2 3
3
6
9
12
15
18
21
24
27
30
Table of 2 4
4
8
12
16
20
24
28
32
36
40
Table of 2 5
5
10
15
20
25
30
35
40
45
50

In [10]:
# write a 2 to 5 table

for num in range(2,6):
  print("Table of:",num)

  for i in range(1,11):
    print(num,"*",i,"=",num*i)

Table of: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Table of: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
Table of: 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
Table of: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [9]:
# write a program to calculate table of number using while

num = 2
i = 1

while i<=10:
  print(num,"*",i,"=",num*i)
  i = i+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [18]:
# factoria of 5 using for loop

x = 5
fact = 1

for i in range(1,6):
  fact = fact*i

print(fact)

120

In [29]:
# factors of 2 to 10 using for loop

for i in range(2,11):
  print("Factors:",i)


  for j in range(1,i+1):
    if i%j == 0:
      print(j)


# find armstrong number from 1 to 1000 using for loop

Factors: 2
1
2
Factors: 3
1
3
Factors: 4
1
2
4
Factors: 5
1
5
Factors: 6
1
2
3
6
Factors: 7
1
7
Factors: 8
1
2
4
8
Factors: 9
1
3
9
Factors: 10
1
2
5
10

In [35]:
# find armstrong number from 1 to 1000 using for loop

for num in range(1, 1000):
  temp = num
  sum = 0
  order = len(str(num))

  while temp > 0:
    digit = temp % 10
    sum += digit ** order
    temp //= 10

  if num == sum:
    print(num)

1
2
3
4
5
6
7
8
9
153
370
371
407

## PATTERN

In [39]:
for i in range(1,5):

  for j in range(1,5):
    print("*",end = " ")

  print()

* * * *
* * * *
* * * *
* * * *

In [46]:
# write a program to print pattern of box

for i in range(1,5):

  for j in range(1,5):
    if (j == 1 or j == 4 or i == 1 or i == 4):
      print("*",end = " ")
    else:
      print(" ",end = " ")

  print()

* * * *
*     *
*     *
* * * *