In [ ]:
# Python folllows call by object reference

In [3]:
a = 10
print(type(a))
print(id(a))

<class 'int'>
133064573321744

In [6]:
for row in range(1,5):
  for col in range(1,5):
    print(row,"-",col)

  print()

1 - 1
1 - 2
1 - 3
1 - 4

2 - 1
2 - 2
2 - 3
2 - 4

3 - 1
3 - 2
3 - 3
3 - 4

4 - 1
4 - 2
4 - 3
4 - 4

In [7]:
for row in range(1,5):
  for col in range(1,5):
    print(row,"-",col,end = " ")    #end uses for horizontal

  print()

1 - 1 1 - 2 1 - 3 1 - 4
2 - 1 2 - 2 2 - 3 2 - 4
3 - 1 3 - 2 3 - 3 3 - 4
4 - 1 4 - 2 4 - 3 4 - 4

In [8]:
for row in range(1,5):
  for col in range(1,row+1):
    print("*",end = " ")

  print()

*
* *
* * *
* * * *

In [23]:
for row in range(1,5):
  for col in range(1,5):
    print(row,end = " ")

  print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [19]:
for row in range(1,5):
  for col in range(1,5):
    print(col,end = " ")

  print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [34]:
for row in range(4,1,-1):
  for col in range(1,5):
    print(row,end = " ")

  print()

4 4 4 4
3 3 3 3
2 2 2 2

In [33]:
for row in range(1,5):
  for col in range(1,row+1):
    print(row,end = " ")

  print()

1
2 2
3 3 3
4 4 4 4

In [31]:
for row in range(1,5):
  for col in range(1,row+1):
    print("1",end = " ")

  print()

1
1 1
1 1 1
1 1 1 1

In [35]:
i = 1
for row in range(1,5):
  for col in range(1,row+1):
    print(i,end = " ")
    i += 1
  print()

1
2 3
4 5 6
7 8 9 10

In [50]:

for row in range(1,5):
  for col in range(5,row,-1):
    print("*",end = " ")
  print()

* * * *
* * *
* *
*

In [57]:

for row in range(1,5):
  for col in range(5,row,-1):
    print(row,end = " ")
  print()

1 1 1 1
2 2 2
3 3
4

In [79]:

for row in range(4,0,-1):
  for col in range(1,row+1):
    print(row,end = " ")
  print()

4 4 4 4
3 3 3
2 2
1

In [88]:


for row in range(4,0,-1):
  for col in range(1,row+1):
    print(col,end = " ")
  print()

1 2 3 4
1 2 3
1 2
1

In [93]:


for row in range(10,0,-1):
  for col in range(7,row+1):
    print(col,end = " ")
  print()

7 8 9 10
7 8 9
7 8
7

In [98]:
i = 1
for row in range(4,0,-1):
  for col in range(1,row+1):
    print(i,end = " ")
    i += 1
  print()

1 2 3 4
5 6 7
8 9
10

In [102]:
# ord used to print ASCII value
# chr used to print character based on ASCII value
print(ord("A"))
print(chr(65))

65
A

In [99]:

for row in range(4,0,-1):
  for col in range(65,65+row):
    print(chr(col),end = " ")
  print()

A B C D
A B C
A B
A

In [113]:
n = 4

for row in range (1,n+1):
  num = 65
  for x in range(row,n+1):
    print(chr(num),end = " ")
    num = num+1

  print()

A B C D
A B C
A B
A

In [118]:
i = 20
for row in range(23,0,-1):
  for col in range(20,row+1):
    print(i,end = " ")
    i += 1
  print()

20 21 22 23
24 25 26
27 28
29

In [142]:
# z z z
# y y
# x

In [143]:
# D
# E F
# G H I
# J K L M

In [144]:
# 2   4    8    16
# 32  64  128
# 256 512

In [147]:
for row in range(1,5):
  for col in range(1,row+1):
    print("*",end = " ")

  print()


for row in range(2,5):
  for col in range(5,row,-1):
    print("*",end = " ")
  print()

*
* *
* * *
* * * *
* * *
* *
*

In [149]:

for row in range(1,5):
  for col in range(5,row,-1):
    print("*",end = " ")
  print()

for row in range(1,5):
  for col in range(1,row+1):
    print("*",end = " ")

  print()

* * * *
* * *
* *
*
*
* *
* * *
* * * *