In [1]:
num = 5
for i in range(1,6):
  for j in range(i,num):
    print("-",end = " ")
  for k in range(1,i+1):
    print("*", end = " ")
  print()

- - - - *
- - - * *
- - * * *
- * * * *
* * * * *

In [2]:
num = 5
for i in range(1,6):
  for j in range(i,num):
    print("-",end = " ")

  for k in range(1,2*i):
    print("*", end = " ")
  print()

- - - - *
- - - * * *
- - * * * * *
- * * * * * * *
* * * * * * * * *

In [3]:
# 1
# 10
# 101
# 1010
# 10101


num = 5

for i in range(1,6):
  for j in range(i,num):

    if j == 1 or j ==2 or i ==5 or i==4:
      if i % 2 !=0:
        print("1",end =" ")

    else:
      print("0",end =" ")
  print()

1 1 0 0
0 0
0 0

In [4]:

row = 4
for i in range(row,0,-1):
  for j in range(row-i):
    print(" ",end = "")

  for k in range(1,i+1):
    print("* ", end = "")
  print()

* * * *
 * * *
  * *
   *

In [12]:
num = 5
for i in range(1,5):
  for j in range(i,num):
    print(" ",end = " ")

  for k in range(1,2*i):
    print("*", end = "")
  print()

        *
      ***
    *****
  *******

In [6]:
num = 5
for i in range(1,5):
  for j in range(i,num):
    print("",end = " ")

  for k in range(1,2*i):
    print("*", end = "")
  print()

    *
   ***
  *****
 *******

In [7]:
num = 5
for i in range(1,5):
  for j in range(i,num):
    print("",end = " ")

  for k in range(1,2*i):
    print(i, end = "")
  print()

    1
   222
  33333
 4444444

In [8]:
row = 4
for i in range(row,0,-1):
  for j in range(row-i):
    print(" ",end = "")

  for k in range(1,i+1):
    print(i, end = " ")
  print()

4 4 4 4
 3 3 3
  2 2
   1

In [9]:
num = 6
for i in range(1,num+1):
  for j in range(1,i):
    print(" ", end="")

  for k in range(i,num+1):
    print(k, end=" ")
  print()

1 2 3 4 5 6
 2 3 4 5 6
  3 4 5 6
   4 5 6
    5 6
     6

In [10]:

row = 4
for i in range(row,0,-1):
  for j in range(row-i):
    print(" ",end = "")

  for k in range(1,i+1):
    print(k, end = " ")
  print()

1 2 3 4
 1 2 3
  1 2
   1

In [52]:
for row in range(1,5):
  for col in range(2,row+1):
    print(col,end = " ")

  print()

2
2 3
2 3 4

In [48]:

num = 4
for i in range(1, num+1):
  for j in range(i,0,-1):
    print(j, end=" ")

  print()

1
2 1
3 2 1
4 3 2 1

In [77]:
for i in range(row):
    for j in range(row-i):
        print(' ', end='')

    for j in range(2*i+1):
        if j==0 or j==2*i or i==row-1:
            print('*',end="")
        else:
            print(" ", end="")
    print()

    *
   * *
  *   *
 *******