In [1]:
# String indexing and slicing

msg = "hello"
msg[1]

'e'

In [13]:
# [strating, stopiing, step = 1]

msg = "jaipur"

msg[1:6:2]

'apr'

In [17]:
msg = "hey tushar"
msg[6:4:-2]

's'

In [18]:
msg[-1:-3:-1]

'ra'

## LIST DATA TYPES

- collection of heterogenous items
- mutable
- indexed
- ordered
- []

In [22]:
mylist = [10,2,3,"abc"]
type(mylist)

list

In [23]:
mylist[0]

10

In [24]:
mylist[2:5]

[3, 'abc']

In [25]:
mylist[0] = 500
print(mylist)

[500, 2, 3, 'abc']

In [26]:
mylist[0:2] = ["A","B"]
print(mylist)

['A', 'B', 3, 'abc']

In [33]:
# Append Method (it is insert only one element)

mylist.append(20)
mylist

['A', 'B', 3, 'abc', 19, 19, 19, 19, 19, 20]

In [34]:
# Extend Method (insert multiple values)

mylist.extend([1,2,3])
mylist

['A', 'B', 3, 'abc', 19, 19, 19, 19, 19, 20, 1, 2, 3]

In [36]:
# integer is not iterable

In [45]:
# Pop Method (delete the element)

mylist.pop()
mylist

['A', 'B', 3, 'abc']

In [48]:
mylist.append([1,2,3])
mylist

['A', 'B', 3, 'abc', [1, 2, 3], 10, [1, 2, 3]]

In [49]:
# Loop on List

for i in [10,20,4,5,"hey"]:
    print(i)

10
20
4
5
hey

In [50]:
mylist = [10,20,4,5,"hey",88]
len(mylist)

6

In [51]:
mylist = [10,20,4,5,"hey",88]
mylist[4]

'hey'

In [52]:
for index in range(0,6):
  print(index)

0
1
2
3
4
5

In [56]:
for index in range(0,6):
  print(index, mylist[0])

0 10
1 10
2 10
3 10
4 10
5 10

In [55]:
for index in range(0,6):
  print(index, mylist[index])

0 10
1 20
2 4
3 5
4 hey
5 88

In [61]:
# find even number indexing

mylist = [10,20,4,5,21,88]

for index in range(0,6):
  if index % 2 == 0:
    print(index,mylist[index])

0 10
2 4
4 21

In [60]:
mylist = [10, 20, 4, 5, 21, 88]

for element in mylist:
  if element % 2 == 0:
    print(element)

10
20
4
88

In [63]:
mylist = [10, 20, 4, 5, 21, 88]

for element in mylist:
    print(element**2)

100
400
16
25
441
7744

In [81]:
mylist = [10, 20, 4, 5, 21,"hey",86.5]

for element in mylist:
  if type(element) == int:
    print(element**2)

for element in mylist:
  if type(element) == str:
    print(element)

for element in mylist:
  if type(element) == float:
    print(element)

100
400
16
25
441
hey
86.5

In [89]:
x = 11
list1 = [10,12,223,101,11,11]
if x in list1:          # memebrship operator
  print("True")
else:
  print("False")

True

In [91]:
list1 = [10,12,223,101,11,9]

for i in range(0, len(list1)):
  print(i,list1[i])

0 10
1 12
2 223
3 101
4 11
5 9

In [102]:
list1 = [10,12,223,101,11,9]

for i in range(0, len(list1)):
  print(i,list1[i])

  for j in range(i+1, len(list1)):
    print(j,list1[j])

0 10
1 12
2 223
3 101
4 11
5 9
1 12
2 223
3 101
4 11
5 9
2 223
3 101
4 11
5 9
3 101
4 11
5 9
4 11
5 9
5 9

In [110]:
list1

[10, 12, 223, 101, 11, 9]

In [129]:
# list2 = [10,11,12,10,11,12]

#list has duplicate or not

In [128]:
list2 = [10,11,12,10,11]

for i in range(0, len(list2)):
  for j in range(i+1, len(list2)):

    if list2[i] == list2[j]:
      print(list2[i])

10
11

In [137]:
list2 = [10,12,10,101,11,11,10]
duplicate = []

x = 0
for i in range(0, len(list2)):
  for j in range(i+1, len(list2)):
    if(list2[i] == list2[i]):
      if list2[i] not in duplicate:
        duplicate.append(list2[i])

print(duplicate)

[10, 12, 101, 11]

In [139]:
list3 = [16,9,8,10,2,7]
max = list3[0]
for i in range(0, len(list3)):
  if list3[i] > max:
    max = list3[i]
print(max)

16