# Pascal's Triangle

- Each number is sum of the two numbers directly above it as shown.

In [1]:
mylist = [[1], [1,1]]
[0] + mylist [-1] + [0]

[0, 1, 1, 0]

In [5]:
# Dictionary {}

# Dictionaries are used to store data values in key:value pairs.
# A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
# no index
# keys are immutable
# key must be unique

In [8]:
mydict = {10:"tushar", 20:"naina"}
len(mydict)
mydict.keys()
mydict.values()
mydict.items()

dict_items([(10, 'tushar'), (20, 'naina')])

In [9]:
mydict = {10:"tushar", 20:"naina"}
mydict[10]

'tushar'

In [11]:
mydict[10] = "tushargoyal"
mydict

{10: 'tushargoyal', 20: 'naina'}

In [12]:
mydict[40] = "hey"
mydict

{10: 'tushargoyal', 20: 'naina', 40: 'hey'}

In [13]:
# pop

x = mydict.pop(10)
print(mydict, "X:",x)

{20: 'naina', 40: 'hey'} X: tushargoyal

In [17]:
# update

mydict.update({10:"abc"})
print(mydict)

{20: 'naina', 40: 'hey', 10: 'abc'}

In [18]:
mydict = {10:"tushar", 20:"naina"}

for key in mydict:
  print(key)

10
20

In [24]:
for x in mydict:
  print(x, mydict[x])

10 tushar
20 naina

In [26]:
dict1 = {"x":1}
dict1["x"] = 2
dict1

{'x': 2}

In [28]:
# value update

dict1 = {"x":10}
dict1["x"] = dict1["x"] + 2
dict1

{'x': 12}

In [35]:
# loop = 10,18
# dict2{"total":0} increase one by one total value through loop

dict2 = {"total":0}
for i in range(10,18):
  dict2["total"] = dict2["total"] + 1
  print(dict2)

{'total': 1}
{'total': 2}
{'total': 3}
{'total': 4}
{'total': 5}
{'total': 6}
{'total': 7}
{'total': 8}

In [38]:
dict2 = {"total":0}
for i in range(10,18):
  dict2["total"] = dict2["total"] + 1
print(dict2)

{'total': 8}

In [40]:
# "heyuser" find total no. of characters

dict3 = {}
for i in "heyuser":
  dict3[i] = 1
  print(dict3)

{'h': 1}
{'h': 1, 'e': 1}
{'h': 1, 'e': 1, 'y': 1}
{'h': 1, 'e': 1, 'y': 1, 'u': 1}
{'h': 1, 'e': 1, 'y': 1, 'u': 1, 's': 1}
{'h': 1, 'e': 1, 'y': 1, 'u': 1, 's': 1}
{'h': 1, 'e': 1, 'y': 1, 'u': 1, 's': 1, 'r': 1}

In [47]:
dict3 = {"total" : 0}

for x in "heyuser":
  dict3["total"] = dict3["total"] +1

print(dict3)

{'total': 7}

In [51]:
dict3 = {}
for x in "heyuser":
  dict3[x] = 1
dict3

{'h': 1, 'e': 1, 'y': 1, 'u': 1, 's': 1, 'r': 1}

In [52]:
mydict = {"total" : 5}
if "total" not in  mydict:
  mydict["total"] = 1

else:
  mydict["total"] = mydict["total"] + 1

print(mydict)

{'total': 6}

In [53]:
mydict = {"total2" : 5}
if "total" not in  mydict:
  mydict["total"] = 1

else:
  mydict["total"] = mydict["total"] + 1

print(mydict)

{'total2': 5, 'total': 1}

In [56]:
mydict = {"total" : 5}

for char in "heyuser":
  if char in mydict:
    mydict[char] = mydict[char] + 1

  else:
    mydict[char] = 1
print(mydict)

{'total': 5, 'h': 1, 'e': 2, 'y': 1, 'u': 1, 's': 1, 'r': 1}

In [68]:
dict4 = {"divide": 0,"non_divide":0}   # divisible by both 2 or 7
for i in range(1,51):
  if i % 2 == 0 and i % 7 == 0:
    dict4["divide"] = dict4["divide"] + 1
  else:
    dict4["non_divide"] = dict4["non_divide"] + 1
dict4

{'divide': 3, 'non_divide': 47}

In [72]:
dict5 = {}
for i in "hey hello tushar aei":
  if i in "aeiou":
    dict5[i] = dict5.get(i,0) + 1

print(dict5)

{'e': 3, 'o': 1, 'u': 1, 'a': 2, 'i': 1}

In [73]:
dict5 = {"vowels": 0}
m = 'aeiou'
for i in "hey hello tushar aei":
  if i in m:
    dict5["vowels"] = dict5["vowels"] + 1
print(dict5)

{'vowels': 8}

In [74]:
"hey hello".split( )

['hey', 'hello']

In [75]:
"hey hello".split("e")

['h', 'y h', 'llo']

In [79]:
x = ("hey hello hello")
for i in x:
  print(i)

h
e
y

h
e
l
l
o

h
e
l
l
o

In [80]:
# list
# dicttionary
# set
# pattern

In [89]:
dict5 = {"hey":0,"hello":0}
x = 'hey hello hello'
for i in 'hey hello hello':
  if i in "x":
    dict5[i] = dict5[i] + 1

print(dict5)

{'hey': 0, 'hello': 0}

# SET

In [90]:
# SET --> Collection of elements
# unique
# unordered
# no index
# mutable but set elements are immutable

# SET Methods
# remove() or discard()
# update()
# union()
# intersection()
# difference()
# symmetric_difference_update()

In [92]:
myset = {10,20,30,10,10,10,20}
print(myset)

{10, 20, 30}

In [93]:
myset.add(658)
myset

{10, 20, 30, 658}