In [1]:
# NEW LINE CHARACTER

print('Jaipur is ncie city ' ,end='\n')
print('Its in rajasthan')
print('Its in India')

Jaipur is ncie city
Its in rajasthan
Its in India

In [3]:
print('My age is',40)
age = 50

print(f'My age is, {age}')

My age is 40
My age is, 50

In [5]:
#print function
#concetenation
#f-string
print('My name is vaishnavi',end='**')
print('I am a trainer')

My name is vaishnavi**I am a trainer

In [7]:
#data types
#string
#int
#float
#boolean

a =12
print(type(a))

<class 'int'>

In [9]:
#conversion of data types
#str(variable name)
#int(variable)
#bool,float

str(a)

'12'

In [11]:
print(type(a))

<class 'int'>

In [14]:
float(a)

12.0

In [16]:
bool(a)

True

In [18]:
b = 'Jaipur'
print(type(b))

<class 'str'>

In [20]:
print('HELOOOO',end='\n')
print('HOW ARE UUUUU',end = ' ')
print('???')

HELOOOO
HOW ARE UUUUU ???

In [22]:
bool(b)
print(type(b))

<class 'str'>

In [24]:
float(b)
print(type(b))


# could not convert string to float

ValueError: could not convert string to float: 'Jaipur'

In [26]:
int(b)
print(type(b))


# could not convert into int

ValueError: invalid literal for int() with base 10: 'Jaipur'

In [28]:
bool(b)

True

In [30]:
bool(a)

True

In [32]:
float(a)

12.0

In [34]:
str(a)

'12'

In [36]:
int(a)

12

In [38]:
c = 0
d = ' '
print(type(c))

<class 'int'>

In [40]:
bool(c)

False

In [42]:
str(d)

' '

In [44]:
# OPERATORS

#1] ARITHMETIC OPERATORS (+,-,/,*,%,**,//)

a = 10
b = 20

print(a+b)
print(a-b)
print(a/b)
print(a*b)
print(a%b)  #modulus
print(a**b)  #exponention
print(a//b)   #floor division

30
-10
0.5
200
10
100000000000000000000
0

In [46]:
# COMPARISON OPERATOR (==,!=,<=,>=,>,<)


print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)
print(a>b)
print(a<b)

False
True
True
False
False
True

In [48]:
# ASSIGNMENT OPERATOR  (=,+=,-=,*=,/=,//=,**=,%=)
#UNARY OPERAND

x = 5
x += 2
print(x)

x -= 3
print(x)

x *= 3
print(x)

x /= 3
print(x)

x//=3
print(x)

x %= 3
print(x)

x**= 3
print(x)

7
4
12
4.0
1.0
1.0
1.0

In [50]:
y = 8

y += 2
print(y)

y -= 3
print(y)

y *= 5
print(y)

y /= 8
print(y)

y //= 8
print(y)

y %= 8   # modulus shows remainder
print(y)

y **= 4  # it define power of no.
print(y)

10
7
35
4.375
0.0
0.0
0.0

In [52]:
# 5 + 4 - 3 ** 6 // 5 *6 / 7%3


z = 5

z += 4
print(z)

z -= 3
print(z)

z **= 6
print(z)

z  //= 5
print(z)

z *= 6
print(z)

z /= 7
print(z)

z %= 3
print(z)



r = 5 + 4 - 3 ** 6 // 5 *6 / 7%3

print(r)

9
6
46656
9331
55986
7998.0
0.0
7.714285714285708