In [1]:
import collections

collections.Counter()

Counter()

In [2]:
import collections as c

c.Counter()

Counter()

In [4]:
from collections import Counter

Counter()

Counter()

In [5]:
from collections import Counter
mylist = [10,10,20,30,20,40,60,"A"]

Counter(mylist)

Counter({10: 2, 20: 2, 30: 1, 40: 1, 60: 1, 'A': 1})

In [6]:
from collections import Counter
mylist = [10,10,20,30,20,40,60,"A"]

Counter(mylist)
Counter(x=10,y=2)

Counter({'x': 10, 'y': 2})

In [7]:
from collections import Counter
mylist = [10,10,20,30,20,40,60,"A"]

a  = Counter(mylist)

a.update([20,70])
print(a)

Counter({20: 3, 10: 2, 30: 1, 40: 1, 60: 1, 'A': 1, 70: 1})

In [8]:
from collections import Counter
mylist = [10,10,20,30,20,40,60,"A"]

a  = Counter(mylist)

a.update([20,70])
a.most_common(1)

[(20, 3)]

In [9]:
print(a)
list(a.elements())

Counter({20: 3, 10: 2, 30: 1, 40: 1, 60: 1, 'A': 1, 70: 1})

[10, 10, 20, 20, 20, 30, 40, 60, 'A', 70]

In [10]:
from collections import defaultdict

In [12]:
def func():
  return "Not a value"

In [13]:
d = defaultdict(func)

d["a"] = 10
d["b"]

print(d.items())

dict_items([('a', 10), ('b', 'Not a value')])

In [14]:
mylist = [(10,"tushar"),(20,"aman"),(30,"abc")]

for data in mylist:
  print(data)

(10, 'tushar')
(20, 'aman')
(30, 'abc')

In [15]:
mylist = [(10,"tushar"),(20,"aman"),(30,"abc")]

for roll, name in mylist:
  print(roll, name)

10 tushar
20 aman
30 abc

In [19]:
mylist = [(10,"tushar"),(20,"aman"),(30,"abc")]
s = defaultdict(list)

for roll, name in mylist:
  s[roll].append(name)
print(s)

defaultdict(<class 'list'>, {10: ['tushar'], 20: ['aman'], 30: ['abc']})

In [21]:
mylist = [(10,"tushar"),(20,"aman"),(10,"abc")]
s = defaultdict(list)

for roll, name in mylist:
  s[roll].append(name)

print(s[30])
print(s)

[]
defaultdict(<class 'list'>, {10: ['tushar', 'abc'], 20: ['aman'], 30: []})

In [22]:
from collections import OrderedDict

In [24]:
o = OrderedDict()

o["a"] = 1
o["b"] = 99
o["aa"] = 1991

print(o)

OrderedDict([('a', 1), ('b', 99), ('aa', 1991)])

In [25]:
o = OrderedDict()

o["a"] = 1
o["b"] = 99
o["aa"] = 1991

o.move_to_end("b")
print(o)

OrderedDict([('a', 1), ('aa', 1991), ('b', 99)])

In [26]:
o = OrderedDict()

o["a"] = 1
o["b"] = 99
o["aa"] = 1991

o.move_to_end("b", last = False)
print(o)

OrderedDict([('b', 99), ('a', 1), ('aa', 1991)])

In [27]:
from collections import namedtuple

In [29]:
point123 = namedtuple("point123",["x","y"])

p = point123(11,22)
print(p.x)
print(p[0])

11
11

In [31]:
point123 = namedtuple("point123",["x","y"])

p = point123(11,22)

print(p[0] + p[1])

33

In [32]:
# asdict()

p._asdict()

{'x': 11, 'y': 22}

In [33]:
p._asdict()
p = p._replace(x=100)
print(p)

point123(x=100, y=22)

In [36]:
point123 = namedtuple("point",["x","y"])
x = {'x': 11, 'y': 22}


print(x)
point123(**x)

{'x': 11, 'y': 22}

point(x=11, y=22)

In [37]:
# LIST = Stack
# deque ==> Doubly Ended Queue

In [38]:
from collections import deque

In [41]:
dq = deque(["tushar","abc","xyz",20])

In [43]:
dq.append(40)
dq

deque(['tushar', 'abc', 'xyz', 20, 40, 40])

In [44]:
# # intersection of two arrays
# #Given two integer arrays nums1 and nums2, return an array of their
# intersection
# . Each element in the result must be unique and you may return the result in any order.

In [46]:
nums1 = [1,2,3,0,0,0]
m = 3
nums2 = [2,5,6]
n = 3
li = []
for i in range(m):
  li.append(nums1[i])
for i in range(n):
  li.append(nums2[i])

li.sort()
print(li)

[1, 2, 2, 3, 5, 6]