In [ ]:
a = int(input("First Angle: "))
b = int(input("Second angle: "))
c = int(input("Third angle: "))


if a + b + c == 180:
  print("It is a triangle")

else:
  print("It is not a triangle")

First Angle: 60
Second angle: 60
Third angle: 60
It is a triangle

In [ ]:
temp = int(input("Enter the temperature:" ))
humi = int(input("Enter the humidity: "))

if temp >= 30 and humi >= 90:
  print("Hot and Humid")

elif temp >= 30 and humi < 90:
  print("Hot")

elif temp < 30 and humi >= 90:
  print("Cool and Humid")

elif temp < 30 and humi < 90:
  print("Cool")

else:
  print("Invalid")

Enter the temperature:45
Enter the humidity: 56
Hot

In [ ]:
cost_price = int(input("Enter the cost price:"))
selling_price = int(input("Enter the selling price: "))

if  cost_price > selling_price:
  cost_price = cost_price - selling_price
  print("Loss of ",cost_price)

elif selling_price > cost_price:

  selling_price = selling_price - cost_price
  print("Profit of ",selling_price)

else:
  print("Invalid")

Enter the cost price:78
Enter the selling price: 5
Loss of  73

In [ ]:
# count the number of dogs and chicken which user provide total heads or leg


h = int(input("Enter the number of heads: "))
l = int(input("Enter the number of legs: "))

if h==1 and l==4:
  print("It is a Dog")

elif h==1 and l==2:
  print("It is a Chicken")

elif h==2 and l==6:
  print("It is a Dog and chicken")

else:
  print("Invalid")

Enter the number of heads: 1
Enter the number of legs: 4
It is a Dog

In [ ]:
1num = int(input("Enter a Number: "))

if num % 5 ==0 and num % 11 == 0:
  print("Divisible by 5 and 11")

else:
  print("Not Divisible")

Enter a Number: 55
Divisible by 5 and 11

In [ ]:
a = int(input("Enter the side 1: "))
b = int(input("Enter the side 2: "))
c = int(input("Enter the side 3: "))


if a == b == c:
  print("Equilateral Triangle")

elif a == b or  c == a:
  print("Isosceles Triangle")

else:
  print("Scalene Triangle")

Enter the side 1: 12
Enter the side 2: 12
Enter the side 3: 12
Equilateral Triangle

In [ ]:
Basic_salary = int(input("Enter the salary:"))
HRA = int(input("Enter the HRA: "))
DA = int(input("Enter the DA:" ))

if Basic_salary <= 10000:
  print("bonus of 10%")

elif HRA == 20:
  print("Bonus of 20%")

elif DA == 80:
  print("Bonus of 80%")
else:
  print("Invalid")

Enter the salary:1000
Enter the HRA: 20
Enter the DA:80
bonus of 10%

In [ ]:
year = int(input("Enter the year: "))

if year % 4 == 0 and year % 400 == 0:
  print("It is a leap year and century year")

elif year % 4 == 0 and year % 100 != 0:
  print("It is a leap year but not a century year")

else:
  print("Invalid")

Enter the year: 2024
It is a leap year but not a century year

In [ ]:

num = int(input("Enter a number: "))
rev = 0
while num > 0:
  digit = num % 10
  rev= rev * 10 + digit
  num //= 10

  print("Reversed number:", rev)

Enter a number: 12345
Reversed number: 5
Reversed number: 54
Reversed number: 543
Reversed number: 5432
Reversed number: 54321

In [ ]:
# armstrong number using if and else

num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
  digit = temp % 10
  sum += digit ** 3
  temp //= 10
  if num == sum:
    print(num,"is an armstrong number")

Enter a number: 153
153 is an armstrong number

In [ ]:
fact = 1
num = int(input("Enter a number: "))
for i in range(1, num + 1):
    fact = fact * i
    print("Factorial ", fact)

Enter a number: 10
Factorial  1
Factorial  2
Factorial  6
Factorial  24
Factorial  120
Factorial  720
Factorial  5040
Factorial  40320
Factorial  362880
Factorial  3628800

In [ ]:

for i in range(100,1001):
  rev = i
  sum= 0
  while i > 0:
    digit = i % 10
    sum += digit ** 3
    i //= 10
  if rev == sum:
      print(sum)

153
370
371
407

In [ ]:
# # The current population of a town is 10000. The population of the town is increasing at
# the rate of 10% per year. You have to write a program to find out the population at the
# end of each of the last 10 years. For eg current population is 10000 so the output
# should be like this:
# a. 10th year => 10000
# b. 09th year => 9000
# c. 08th year => 8100 and so on

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if i==1 or j==4 or j==1 or i ==4:
      print("*",end = "")
    else:
        print(" ",end = "")
  print()

****
*  *
*  *
****

In [ ]:

n = 5
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(64+j),end = "")
  print()

A
AB
ABC
ABCD
ABCDE

In [ ]:
n = 5
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(64+i),end = "")
  print()

A
BB
CCC
DDDD
EEEEE

In [ ]:
n = 5
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(68+j),end = "")
  print()

E
EF
EFG
EFGH
EFGHI

In [ ]:

        # *
      # * *
    # * * *
  # * * * *

for row in range(1,5):
  for col in range(1,row+1):
    print("*",end = " ")

  print()

*
* *
* * *
* * * *

In [ ]:
for row in range(1,6):
  for col in range(1,row+1):
    print(col,end = " ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
rows = 5
n = (2*rows)-2

for i in range(rows-1,-1,-1):
        for j in range(n,0,-1):
            print(end=" ")
        n += 1
        for j in range(0, i+1):
            print("*",end=" ")

        print()

        * * * * *
         * * * *
          * * *
           * *
            *

In [ ]:
rows = 5
n = 0
for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")

    while n!=(2*i-1):
        print("* ", end="")
        n += 1

    n = 0
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
rows = 6
for i in range(1,rows+1):
  for j in range(1,i):
    print(" ", end="")

  for k in range(i,rows+1):
    print("*", end=" ")
  print()

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
for i in range(1,5):
  for j in range(1,8):

    if j>=i and j<=8-i:

      print("*",end = "")
    else:
        print(" ",end = "")
  print()

*******
 *****
  ***
   *

In [ ]:
for i in range(1,5):
  for j in range(1,8):

    if j>=5-i and j<=3+i:

      print("*",end = "")
    else:
        print(" ",end = "")
  print()

   *
  ***
 *****
*******

In [ ]:
for i in range(1,5):
  for j in range(1,8):

    if j>=5-i and j<=3+i:

      print("*",end = "")
    else:
        print(" ",end = "")
  print()

for i in range(1,5):
  for j in range(1,8):

    if j>=i and j<=8-i:

      print("*",end = "")
    else:
        print(" ",end = "")
  print()

   *
  ***
 *****
*******
*******
 *****
  ***
   *

In [ ]:
for i in range(1,5):
  for j in range(1,8):

    if j<=5-i or j>=3+i:

      print("*",end = "")
    else:
        print(" ",end = "")
  print()

*******
*** ***
**   **
*     *

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if i==1 or j==4 or j==1 or i ==4:
      print(j,end = " ")
    else:
        print("  ",end = "")
  print()

1 2 3 4
1     4
1     4
1 2 3 4

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if i==1 or j==4 or j==1 or i ==4:
      print(" *",end = "")
    else:
        print("  ",end = "")
  print()

 * * * *
 *     *
 *     *
 * * * *

In [ ]:
for i in range(1,5):
  for j in range(1,8):

    if j>=5-i and j<=3+i:

      print("*",end = "")
    else:
        print(" ",end = "")
  print()

In [ ]:

rows = 5
for i in range(1, rows + 1):
  for j in range(1, rows - i + 1):
    print(" ", end="")
  for j in range(1, 2 * i):
    if j == 1 or j == 2 * i - 1:
      print("*", end="")
    else:
      print(" ", end="")
  print()

    *
   * *
  *   *
 *     *
*       *

In [ ]:

for i in range(rows - 1, 0, -1):
  for j in range(1, rows - i + 1):
    print(" ", end="")
  for j in range(1, 2 * i):
    if j == 1 or j == 2 * i - 1:
      print("*", end="")
    else:
      print(" ", end="")
  print()

 *     *
  *   *
   * *
    *

In [ ]:
rows = 5
for i in range(1, rows + 1):
  for j in range(1, rows - i + 1):
    print(" ", end="")
  for j in range(1, 2 * i):
    if j == 1 or j == 2 * i - 1:
      print("*", end="")
    else:
      print(" ", end="")
  print()

for i in range(rows - 1, 0, -1):
  for j in range(1, rows - i + 1):
    print(" ", end="")
  for j in range(1, 2 * i):
    if j == 1 or j == 2 * i - 1:
      print("*", end="")
    else:
      print(" ", end="")
  print()

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [ ]:
# LISTS QUESTIONS

In [ ]:
#1]write a program to print the first 25 odd numbers in list


for i in range(1,26):
  if i % 2 != 0:
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25

In [ ]:
str1 = input("Enter a string: ")
lowercase = ''
uppercase = ''

for char in str1:
  if char.islower():
    lowercase += char
  else:
    uppercase += char

arranged = lowercase + uppercase
print("Arranged string:", arranged)

Enter a string: VAUSGABAvsuaudahu
Arranged string: vsuaudahuVAUSGABA

In [ ]:
str1 = "P@#yn26at^&i5ve"
chars = 0
digits = 0
symbols = 0
for char in str1:
  if char.isalpha():
    chars += 1
  elif char.isdigit():
    digits += 1
  else:
    symbols += 1

print("Total counts: ")
print("Chars =", chars)
print("Digits =", digits)
print("Symbol =", symbols)

Total counts:
Chars = 8
Digits = 3
Symbol = 4

In [ ]:
#  Remove empty strings from a list of strings